<a href="https://colab.research.google.com/github/SanjanaGopi/Python-Program-Practices/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic Python Program

 Write a python program to print variable.

In [ ]:
print("Hello World")

Hello World

Write add program

In [ ]:
print(1+4)

5

### Variables

variables in python

In [ ]:
Bike = 100
Car = 200
Cycle = 300

total = Bike+Car+Cycle
print("Vechicles:",Bike,Car,Cycle)
print(total)

Vechicles: 100 200 300
600

### Numbers in python

Subtracting two numbers?

In [ ]:
apple= 200
mango= 300
print("apple price & mango price:",apple-mango)

apple price & mango price: -100

Multiplying two numbers?

In [ ]:
pen=500
pencil=600
print("value of pen&pencil:",pen*pencil)

value of pen&pencil: 300000

In [ ]:
*

Divition & Remainder of two numbers?

In [ ]:
tedy=1000
panda=2000
print("Divideing a tedy&panda:",tedy/panda)
print("Remainder value:",tedy%panda)

Divideing a tedy&panda: 0.5
Remainder value: 1000

calculating multinumbers ?

In [ ]:
a=10
b=20
c=30
print((a+b)*c)
print((a**b)/c)
print((a%c)+c)
print((c-b)%a)
print((c/a)-b)

900
3.3333333333333335e+18
40
0
-17.0

### Strings in python

strig slicig ?

In [2]:
text="water bottle"
print(text)
text[3]
text[0:5]
text[5:]

water bottle

' bottle'

Multiline strig using tripple quotes(''')?

In [4]:
text1='hello "madam"'
text2="let's learn language"
text3='''java
python
c++'''
print(text1)
print(text2)
print(text3)

hello "madam"
let's learn language
java
python
c++

characters of n and \t

In [5]:
text='java\npython\nc++'
print(text)

java
python
c++

Operator to join two strings?

In [11]:
a1="programming"
a2="language"
print(a1+a2)
a1+' '+a2

programminglanguage

'programming language'

Function of str()?

In [13]:
s="Total states"
num=32
s+' '+str(num)

'Total states 32'