<a href="https://colab.research.google.com/github/SanjanaGopi/Python-Program-Practices/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic Python Program

 Write a python program to print variable.

In [ ]:
print("Hello World")

Hello World

Write add program

In [ ]:
print(1+4)

5

### Variables

variables in python

In [ ]:
Bike = 100
Car = 200
Cycle = 300

total = Bike+Car+Cycle
print("Vechicles:",Bike,Car,Cycle)
print(total)

Vechicles: 100 200 300
600

### Numbers in python

Subtracting two numbers?

In [ ]:
apple= 200
mango= 300
print("apple price & mango price:",apple-mango)

apple price & mango price: -100

Multiplying two numbers?

In [ ]:
pen=500
pencil=600
print("value of pen&pencil:",pen*pencil)

value of pen&pencil: 300000

In [ ]:
*

Divition & Remainder of two numbers?

In [ ]:
tedy=1000
panda=2000
print("Divideing a tedy&panda:",tedy/panda)
print("Remainder value:",tedy%panda)

Divideing a tedy&panda: 0.5
Remainder value: 1000

calculating multinumbers ?

In [ ]:
a=10
b=20
c=30
print((a+b)*c)
print((a**b)/c)
print((a%c)+c)
print((c-b)%a)
print((c/a)-b)

900
3.3333333333333335e+18
40
0
-17.0

### Strings in python

strig slicig ?

In [ ]:
text="water bottle"
print(text)
text[3]
text[0:5]
text[5:]

water bottle

' bottle'

Multiline strig using tripple quotes(''')?

In [ ]:
text1='hello "madam"'
text2="let's learn language"
text3='''java
python
c++'''
print(text1)
print(text2)
print(text3)

hello "madam"
let's learn language
java
python
c++

characters of n and \t

In [ ]:
text='java\npython\nc++'
print(text)

java
python
c++

Operator to join two strings?

In [ ]:
a1="programming"
a2="language"
print(a1+a2)
a1+' '+a2

programminglanguage

'programming language'

Function of str()?

In [ ]:
s="Total states"
num=32
s+' '+str(num)

'Total states 32'

### List in python

Create list in variable?

In [ ]:
items=["banana","apple","mango","orange"]
items

['banana', 'apple', 'mango', 'orange']

List are stored in computer memory?

In [ ]:
items=["banana","apple","mango","orange"]
items[2]

'mango'

In [ ]:
items=["banana","apple","mango","orange"]
items[2]="draganfruite"
items

['banana', 'apple', 'draganfruite', 'orange']

Access a rannge of elements ?

In [ ]:
items=["banana","apple","mango","orange"]
items[0:3]

['banana', 'apple', 'mango']

In [ ]:
items=["banana","apple","mango","orange"]
items[-1]

'orange'

Using a append methon ?

In [ ]:
items=["banana","apple","mango","orange"]
items.append("draganfruite")
items

['banana', 'apple', 'mango', 'orange', 'draganfruite']

join two list ?

In [ ]:
items=["banana","apple","mango","orange"]
items.insert(2,"draganfruite")
items

['banana', 'apple', 'draganfruite', 'mango', 'orange']

List concatenation ?

In [ ]:
fruites=["banana","apple","mango","orange"]
vegetables=["tomato,potato"]
items=fruites+vegetables
items

['banana', 'apple', 'mango', 'orange', 'tomato,potato']

Function of len()

In [ ]:
items=["banana","apple","mango","orange"]
len(items)

4

'in' operation

In [ ]:
items=["banana","apple","mango","orange"]
"apple" in items

True

In [ ]:
items=["banana","apple","mango","orange"]
"dragafruite" in items

False

### if statement

Write a program that asks user to enter a number,program should tell if number is odd or even?

In [ ]:
num=input("Enter a number:")
num=int(num)
if num%2==0:
  print("number is even")
else:
  print("number is odd")

Enter a number:6
number is even

Write a program that ask a studets,which house colour for which day?

In [ ]:
Monday=["green"]
Tuesday=["yellow"]
Wednesday=["blue"]
Thursday=["orange"]
Friday=["pink"]
Saturday=["white"]
colour=input("Enter a colour:")
if colour in Monday:
  print("Monday")
elif colour in Tuesday:
  print("Tuesday")
elif colour in Wednesday:
  print("Wednesday")
elif colour in Thursday:
  print("Thursday")
elif colour in Friday:
  print("Friday")
elif colour in Saturday:
  print("Saturday")
else:
  print("our schools not included this type of housecolour",colour)

Enter a colour:black
our schools not included this type of housecolour black

### For loop

Store monthly expeses i a list and find out total expenses for all months?

In [ ]:
exp=[1000,2000,3000,4000,5000]
total=0
for items in exp:
  exp=total+items
print(exp)

5000

Range fuction

print a number 1 to 20 /with squres ?

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(1,21):
  print(i*i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

Using len()&rage functio

In our monthly expense example,print month number and expense and then in the end print total expense?

In [ ]:
exp=[1000,2000,3000,4000,5000]
total=0
for i in range(0,len(exp),2):
  print("Monthly expense:",(i+1),"expenses:",(i))
  total=total+exp[i]
  print("Total expenses:",total)

Monthly expense: 1 expenses: 0
Total expenses: 1000
Monthly expense: 3 expenses: 2
Total expenses: 4000
Monthly expense: 5 expenses: 4
Total expenses: 9000

### Fuction Type

You are given two lists of numbers and you need to find total of each of these list?

In [ ]:
def calculate_total(exp):
  total=0
  for items in exp:
    total=total + items
  return total
sanjana_exp_list=[3000,2000,6000]
niranjan_exp_list=[5000,600,700]
sanjana_total=calculate_total(sanjana_exp_list)
niranjan_total=calculate_total(niranjan_exp_list)

print("sanjana's total expenses",sanjana_total)
print("Niranja's total expenses",niranjan_total)

sanjana's total expenses 11000
Niranja's total expenses 6300

Program used to check the number is postive or negative?

In [1]:
a=int(input("Enter an integer value:"))
if a>0:
  print("The value %d is postive" %a)
if a<0:
  print("The value %d is negative"%a)

Enter an integer value:46
The value 46 is postive